.oc-chat-head {
	background: #8CACBB;
	padding:7px;
	color: #ffffff;
	border-right:1px solid #8CACBB;
	border-left:1px solid #8CACBB;
    margin: 0;
	font-size: 100%;
}

.oc-chat-content {
	height:279px !important;
    width: 100%;
    padding: 0px;
}

.oc-chat-content dl {
    margin: 0px;
    padding: 0px;
}

.oc-chat-content dd {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 1em;
}

.chatbox {
    bottom: 44px; /* To allow space for the bottom bar */
}
